.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #ccc;
	margin: 3rem 0;
	border-top: 1px solid #ccc;
	padding: 10px;
	i {
		padding: 10px;
		font-size: 24px;
	}

	.footer__menu {
		margin: 10px;
		cursor: pointer;
		font-size: 1rem;
		a {
			text-decoration: none;
			color: #ccc;
			padding: 0 3px;
		}

		.active {
			color: #fff;
		}
	}
	.footer__social a {
		color: #ccc;
	}
}

@media (min-width: 1024px) and (max-width: 1199px) {
	footer {
		max-width: 1190px;
	}
}

@media (min-width: 601px) and (max-width: 759px) {
	footer {
		width: auto;
		padding: 10px;
	}
}

@media only screen and (max-width: 600px) {
	footer {
		width: auto;
		flex-direction: column;
	}
}

@media only screen and (max-width: 992px) {
	footer {
		max-width: 992px;
		.social-media {
			padding: 5px;
			margin: 5px;
		}
	}
}
