*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font-size: 19px;
	font-family: "Montserrat", sans-serif;
	background: rgb(230, 230, 231) 0%;
	line-height: 2;
}

.container {
	margin: 0 auto;
	width: var(--container-width-lg);

	h2 {
		display: flex;
		justify-content: left;
		align-items: center;
	}
}

.hero {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	color: #333;
	padding: 10px;
	line-height: 1.2;

	.hero__left {
		h5 {
			color: rgb(106 158 219);
			font-weight: 400;
		}
	}

	.hero__right {
		margin: 2rem;
	}

	.hero--name {
		font-size: 2rem;
		font-weight: 700;
	}

	h1 {
		font-weight: 700;
		font-size: 2rem;
		padding-top: 100px;
	}

	p {
		padding-top: 30px;
		color: rgb(225 217 217);
	}
	.foto {
		background: #d3af0e;
		border-radius: 25px;
		width: 180px;
		margin: 10px 0;
	}
}
@media (max-width: 1023px) {
	.hero {
		grid-template-columns: 1fr;
	}
}

.privacy {
	color: rgb(161, 159, 159);
	font-size: 15px;
	margin-bottom: 2rem;
}
@media (min-width: 390px) and (max-width: 452px) {
	.main__content {
		.main__content--name {
			font-size: 1.5rem;
		}

		h1 {
			font-size: 1.5rem;
		}
	}

	.container {
		h2 {
			font-size: 1.5rem;
		}
	}
}

@media screen and (min-width: 453px) and (max-width: 680px) {
	.main__content {
		.main__content--name {
			font-size: 2.5rem;
		}

		h1 {
			font-size: 2.5rem;
		}
	}

	.container {
		h2 {
			font-size: 2.5rem;
		}
	}
}
@media (min-width: 681px) and (max-width: 1002px) {
	.main__content {
		.main__content--name {
			font-size: 3.5rem;
		}

		h1 {
			font-size: 3.5rem;
		}
	}
	.container {
		h2 {
			font-size: 3rem;
		}
	}
}

@media (max-width: 1023px) {
	.experience {
		display: flex;
		flex-direction: column;
	}
}
