*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font-size: 19px;
	font-family: "Montserrat", sans-serif;
	background: rgba(17, 24, 39, 1) 0%;
	line-height: 2;
}

.container {
	margin: 0 auto;
	width: var(--container-width-lg);
}

.main__content {
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	color: rgb(252, 252, 252);
	padding: 10px;
	height: 100%;

	.main-content__name {
		font-size: 6rem;
		font-weight: 700;
	}

	h1 {
		font-weight: 700;
		font-size: 6rem;
		padding-top: 100px;
	}

	p {
		padding-top: 30px;
		color: rgb(161, 159, 159);
	}
}
.main-readme__header {
	padding: 10px;
	background-color: hsla(0, 0%, 4%, 0.8);
}

.main-readme__content {
	color: #fff;
	background-color: #1d1f21;
	padding: 20px;

	li {
		list-style: none;
	}
}

.fa-square-js {
	font-size: 20px;
	margin: 2px;
	color: yellowgreen;
}

.main-readme__header--text {
	display: inline;
	color: #ccc;
}

.experience {
	display: grid;
	font-size: 19px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	gap: 1rem;
	color: rgb(252, 252, 252);
	margin-top: 3rem;
}

.experience-company__empik,
.experience-company__tmobile {
	cursor: pointer;
	padding: 30px;
	margin: 20px 1px;
	h3 {
		font-size: 22px;
	}

	span {
		font-size: 18px;
	}
}

.experience-decription {
	.date {
		font-weight: bold;
	}
}

.description-tools {
	color: rgba(159, 170, 187);
}

.select {
	background-color: rgb(43, 50, 59);
	border-radius: 7px;
	max-width: 393px;
}

h2 {
	margin: 5rem 0.5rem 1rem;
	font-size: 3rem;
	font-weight: bold;
	color: rgb(252, 252, 252);
}

.active {
	background-color: rgba(43, 50, 59);
	border-radius: 7px;
	max-width: 393px;
}
.toolbox {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px;
	font-size: 28px;
	color: rgb(161, 159, 159);

	span {
		margin: 10px;
	}
}

@media (min-width: 390px) and (max-width: 452px) {
	.main__content {
		.main-content__name {
			font-size: 1.5rem;
		}

		h1 {
			font-size: 1.5rem;
		}
	}
}

@media screen and (min-width: 453px) and (max-width: 680px) {
	.main__content {
		.main-content__name {
			font-size: 2.5rem;
		}

		h1 {
			font-size: 2.5rem;
		}
	}
}
@media (min-width: 681px) and (max-width: 1002px) {
	.main__content {
		.main-content__name {
			font-size: 3.5rem;
		}

		h1 {
			font-size: 3.5rem;
		}
	}
}

@media (max-width: 1023px) {
	.experience {
		display: flex;
		flex-direction: column;
	}
}
@media screen and (min-width: 390px) and (max-width: 452px) {
	h2 {
		font-size: 2rem;
	}
}
